<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= customer_name %></title>
</head>
<body>
    <h1><%= customer_id %></h1>
    <button><a href="/categories" style="text-decoration: none;">View Categories</a></button>
    <br>
    <button><a href="/users/<%= customer_id %>/cart" style="text-decoration: none;">View Your Cart</a></button>
    <br>
    <button><a href="/users/<%= customer_id %>/orders" style="text-decoration: none;">View Your Order History</a></button>
    <br>
    <button><a href="/users/<%= customer_id %>/transactions" style="text-decoration: none;">View Your Transactions History</a></button>
    <br>
</body>
</html>