<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
</head>
<body> 
	<h1>Your Orders</h1>
	<br>
	<% let q = 0 %> 
    <ol>
		<% for (let c=0;c<orders.length;c++) { %>
			<li>
				Order Id: <%= orders[c].order_id %> 
				<br>
				Order Date and Time: <%= orders[c].order_date %> 
				<br>
				Quantity:
				<% for (let p=0;p<quantities.length;p++) { %>
					<% if (orders[c].product_id === quantities[p].product_id)  {%> 
						<%= quantities[p].quantity %> 
						<% q = quantities[p].quantity %> 
						<% break %> 
					<% } %> 
				<% } %>  
				<br> 
				Total Price: <%= (orders[c].total_price - orders[c].total_discount)*q %> 
				<br>
				Product Details: 
				<br>
				Product Name: <%= product_details[c].product_name %> 
				<br>
				Company: <%= product_details[c].brand %> 
				<br>
				<br>
			</li>
		<% } %>  
	</ol>    
	<br>
    <button><a href="/users/<%= customer_id %>" style="text-decoration: none;">Back to User Page</a></button>
</body>
</html>